
.unit {
    margin-top: 8px;
}

.unit-value {
    border-style: solid;
    border-width: 1px;
    width: 80%;
    text-align: right;
    float:left;
  }

.unit-name {
    margin-left: 8px;
    float:left;
}